body{
    margin: 0;  
    background: rgb(33, 24, 204);    
    background: linear-gradient(180deg, rgba(33, 23, 219, 0.664) 0%, rgba(110,190,230,1) 29%, rgba(117,189,228,1) 43%, rgba(0,212,255,0) 100%);
    background-repeat: no-repeat; 
    text-align: center;
    font-family: 'arial';    
}

.logo{
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 10px auto;
    background-color: #fff;
    border:2px solid darkblue;
    border-radius: 100px;
}
.logo img{
    margin-top: 15px;
    width: 100px;
    height: 100px;    
}

h3{
    font-size: 3em;
    color:darkblue;
    
}

.links{
    padding: 10px;
}

.links div{
    /*border:1px solid blue;*/
    width: 100p%; 
    padding: 20px; 
    margin: 0 auto;
    margin-top: 5px;  
    color:black;
    font-weight: bold;
   
}

.links div:hover{
    border: 2px solid blue;
}

.links a{
    text-decoration: none;
}

.rodape{
   
    background-color: rgba(128, 128, 128,0.2);
    padding: 10px;
    width:100%;
    color:Black;
    /*position: absolute;;
    bottom:0px;
    left:0px;*/
}

