body{
    background: rgb(33, 24, 204);
background: linear-gradient(180deg, rgba(33, 23, 219, 0.664) 0%, rgba(110,190,230,1) 29%, rgba(117,189,228,1) 43%, rgba(0,212,255,0) 100%);
background-repeat: no-repeat; 
text-align: center;
    font-family: 'Calibri';
    
}

.logo img{
    width: 0px;
    height: 0px;
}

h3{
    font-size: 3em;
}

.links div{
    /*border:1px solid blue;*/
    width: 400px; 
    padding: 20px; 
    margin: 0 auto;
    margin-top: 5px;  
    color:black;
    font-weight: bold;
   
}

.links div:hover{
    border: 2px solid blue;
}

.links a{
    text-decoration: none;
}

